@font-face {
  font-family: IndieFlower-Regular;
  src: url(../fonts/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: JosefinSans-VariableFont_wght;
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Quicksand-VariableFont_wght;
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: GreatVibes-Regular;
  src: url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: EuphoriaScript-Regular;
  src: url(../fonts/EuphoriaScript-Regular.ttf);
}

main {
  background-image: url(../images/Imagem\ principal1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -95px;
  margin-left: -10px;
  margin-right: -7px;
  margin-bottom: 0px;
}

h1 {
  font-family: EuphoriaScript-Regular;
  font-size: 140px;
  margin-left: 180px;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-style: oblique;
  text-transform: uppercase;
  margin-left: 30px;
}

input {
  display: block;
  margin: 10px;
  margin-left: 60px;
  border: 3px solid whitesmoke;
  width: 45%;
  height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#resultado {
  background: whitesmoke;
  display: block;
  border: 6px solid whitesmoke;
  margin-left: 375px;
  margin-top: -60px;
  width: 20%;
  height: 40%;
}
button {
  display: block;
  margin: 10px;
  margin-left: 60px;
  border: 3px solid whitesmoke;
  width: 20%;
  height: 30px;
}

#relogioAntigo {
  background-size: cover;
  background-position: left left;
  width: 40%;
  height: 40%;
  margin-left: -20px;
  margin-bottom: 10px;
}

h4 {
  font-family: JosefinSans-VariableFont_wght;
  font-size: 30px;
  margin-top: -620px;
  margin-left: 750px;
}

p {
  font-family: Quicksand-VariableFont_wght;
  font-size: 18px;
  margin-left: 750px;
}

em {
  font-family: GreatVibes-Regular;
  font-size: larger;
  font-style: italic;
  margin-left: 750px;
}

#icon {
  margin-left: 750px;
  margin-top: 60px;
  padding: 0px;
}

footer {
  background: black;
  margin: -44px;
  padding: 0px;
}

h2 {
  color: black;
  font-size: 50px;
  padding: 0px;
}
/*Desktop acima 1300px */
@media (min-width: 1300px) {
  h1 {
    margin-left: 490px;
  }
  h3 {
    margin-left: 380px;
  }
  main {
    background-size: contain;
    background-position: center;
  }
  input {
    margin-left: 380px;
  }
  button {
    margin-left: 380px;
  }
  #resultado {
    margin-left: 840px;
  }
  #relogioAntigo {
    position: center left;
    margin-left: 15.25%;
    width: 40%;
    height: 40%;
  }
  h4 {
    margin-left: 1100px;
  }

  em {
    margin-left: 1100px;
  }

  p {
    margin-left: 1100px;
  }

  #icon {
    margin-left: 1100px;
    width: 25%;
  }
}
/*IPad e tablete 768x1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  main {
    background-position: right;
    margin-top: -95px;
    margin-left: -10px;
    margin-right: -7px;
    margin-bottom: 0px;
  }

  h1 {
    margin-left: 100px;
    margin-top: 95px;
    font-size: 120px;
  }
  h3 {
    margin-top: -70px;
    columns: 2;
    margin-left: 65px;
    font-size: 20px;
  }
  #resultado {
    margin-left: 267px;
    margin-top: -70px;
    border: 0px solid whitesmoke;
  }
  #relogioAntigo {
    width: 89%;
  }

  h4 {
    font-size: 30px;
    position: relative;
    margin-top: 20px;
    margin-left: 58px;
  }

  p {
    position: relative;
    margin-top: 10px;
    margin-left: 58px;
  }

  em {
    position: relative;
    margin-top: 10px;
    margin-left: 58px;
  }

  #icon {
    position: relative;
    margin-top: 10px;
    margin-left: 58px;
    width: 55%;
  }

  footer {
    background: black;
    margin: 0px;
  }

  h2 {
    color: black;
    font-size: 20px;
  }
}
/*Iphone X 375x767px */
@media (min-width: 375px) and (max-width: 767px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  main {
    background-size: cover;
  }

  h1 {
    padding: 35px;
    margin-left: 60px;
    font-size: 80px;
    margin-top: 90px;
  }
  h3 {
    font-size: 20px;
    margin-left: 40px;
    margin-top: -60px;
  }
  input {
    display: block;
    margin: 0px;
    margin-left: 60px;
    width: 70%;
  }
  #resultado {
    margin: 0px;
    margin-left: 239px;
    margin-top: -60px;
    width: 27%;
    border: 0px;
  }
  button {
    margin: 0px;
    margin-left: 60px;
    width: 30%;
  }
  #relogioAntigo {
    width: 100%;
    padding: 1px 1px;
    border: 1px 1px;
    margin: 1px 1px;
  }
  h4 {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 10px;
  }
  p {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 0px;
  }
  em {
    margin-left: 10px;
  }
  #icon {
    margin-left: 10px;
    margin-top: 20px;
  }
  footer {
    background: black;
    margin: 0px;
  }
  h2 {
    color: black;
    font-size: 20px;
  }
}
