@font-face {
  font-family: IndieFlower-Regular;
  src: url(../fonts/IndieFlower-Regular.ttf);
}

* {
  box-sizing: border-box;
}

*main {
  width: 25%;
  float: left;
}

main {
  background-image: url(../images/Imagem\ principal1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -80px;
  margin-left: -10px;
  margin-right: -7px;
  margin-bottom: 0px;
}

h1 {
  font-family: IndieFlower-Regular;
  font-size: 110px;
  margin-left: 30px;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-style: oblique;
  text-transform: uppercase;
  margin-left: 30px;
}

input {
  display: block;
  margin: 10px;
  margin-left: 60px;
  border: 3px solid whitesmoke;
  width: 45%;
  height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  display: block;
  margin: 10px;
  margin-left: 60px;
  border: 3px solid whitesmoke;
  width: 20%;
  height: 30px;
}

#relogioAntigo {
  background-size: cover;
  background-position: left left;
  width: 40%;
  height: 40%;
  margin-left: -20px;
  margin-bottom: 10px;
}
/*footer {
  background-image: url(../images/rélogio\ quebrado.png);
  background-repeat: no-repeat;
  background-size: contain;
  clear: both;
}*/

h4 {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 25px;
  margin-top: -650px;
  margin-left: 750px;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: 15px;
  margin-left: 750px;
}

#icon {
  margin-left: 750px;
  line-height: 0px;
}
